.route {
    color: black;
    font-size: 2em;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: rotate(180deg);
    /* border: 2px solid black; */
    

    position: relative;
    left: 45vw
}

h3{
    font-size: 3em;
    color: grey;
    position: relative;
    left: 25vh;
    width: 8vw;
    /* border: 2px solid black; */
}
.homeimage{
   
    height: 25vh;
   width:25vw;
}


.headinggs {
    border: 10px solid rgb(214, 45, 45);
    height: 20px;
    font-size: 2em;
    background-color: aqua;


}

.heading {
    font-size: 2em;
    margin: auto;
}

.box {
    width: 80vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 40px;
    background-image: linear-gradient(white, rgba(0, 0, 0, 0.436));

}

.navlink {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.imageone {
    height: 30vh;
    width: 20vw;
    /* display: inline-block; */
    /* border: 2px solid black; */
    position: absolute;
    left: 10px;
    top: 10px;

}

.datatwo {
    /* border: 2px solid red; */
    border-bottom: 5px solid wheat;
    width: 50vw;
    height: 35vh;
    position: relative;
}

.top {
    height: 650px;
    top: 40px;
    position: relative;
    /* border: 2px solid black; */
}

.imagetopone {
    position: absolute;
    height: 37vh;
    width: 38vw;
    left: 900px;
    top: 40px;
    border-radius: 20px;

}

.imagetoptwo {
    position: absolute;
    height: 77vh;
    width: 52vw;
    left:50px;
    top: 40px;
    border-radius: 20px;


}

.imagetopthree {
    position: absolute;
    height: 37vh;
    width: 38vw;
    left: 900px;
    top: 335px;
    border-radius: 20px;

}

.secondtop {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-top:5vh;

    /* border: 2px solid black; */
}

.underdivfirst {
    /* border: 5px solid black; */
    width: 30vw;
    display: flex;
    flex-direction: column;
    height: 60vh;
    /* overflow: hidden; */
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
}
.underdivfirst:hover{
  
    box-shadow: 2px 2px 20px  black;
    }
.parahome{
    width: 25vw;
    font-size: 1.3em;
    position: relative;
    left: 2vw;
}


.thirdtop {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}

.latest {
    position: relative;
    left: 40px;
    top: 1vh;
    width: 400px;
    font-size: 3em;
}

.paraone {
    /* border: 2px solid black; */
    display: inline-block;
    width: 25vw;
    height: 20vh;
    position: relative;
    left: 445px;
    top: 10vh;
    overflow: hidden;
}

.headingone {
    display: inline-block;
    /* border: 2px solid black; */
    font-size: 1.5em;
    position: absolute;
    left: 445px;
    font-weight: bold;
    top: 5vh;
}

.topstories {
    width: 50vw;
    /* border: 2px solid black; */
    position: relative;
    left: 10px;


}

.advisment {
    border: 2px solid black;
    height: 95vh;
    width: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    left: 5vw;
}

.data {
    /* border: 2px solid red; */
    position: relative;
    height: 30vh;
    /* border: 2px solid black; */
    border-bottom: 5px solid whitesmoke;
}

.imagetwo {
    position: absolute;
    left: 0;
    top: 2vh;
    height: 20vh;
    width: 15vw;
}

.headingtwo {
    position: absolute;
    left: 16vw;
    top: 2vh;
    font-size: 1.5em;
    font-weight: bold;
}

.toppost {
    /* border: 2px solid black; */
    width: 80vh;
}

.paratwo {
    position: absolute;
    top: 8vh;
    left: 16vw;
    font-weight: bold;

}


/* ****************************************************Hollywood*************************************** */


.hollyheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;

    text-decoration: underline;
}

.hollytop {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

}

.imagehollytop {
    height: 30vh;
    width: 28vw;
    border-radius: 15px;
    position: absolute;
    left: 2vh;
    top: 10vh;



}

.headingholly {
    position: absolute;
    left: 10vw;
}

.hollydata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 55vh;
    width: 30vw;
    text-align: center;
    position: relative;
    /* border: 2px solid black; */
    /* box-shadow: 2px 2px solid black; */

}
.hollydata:hover{
    /* background-color: aqua; */
     box-shadow: 2px 2px 20px  black; 
  
}




.hollypara {
    position: absolute;
    top: 38vh;
    left: 4vh;
}

.hollyone {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.hollyunderdiv {
    height: 40vh;
    width: 50vw;
    border-bottom: 5px solid bisque;
    position: relative;

}


.underdivimage {
    height: 35vh;
    width: 25vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;

}

.underdivheading {
    position: absolute;
    left: 26vw;
}

.underdivpara {
    position: absolute;
    left: 26vw;
    top: 6vh;
    /* border: 2px solid black; */

    height: 20vh;
    width: 25vw;

}

.underdivtwo {
    /* border: 2px solid black; */
    position: relative;
    height: 32vh;
    width: 38vw;
    border-bottom: 5px solid beige;

}

.underdivimagetwo {
    height: 25vh;
    width: 17vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.underdivheadingtwo {
    position: absolute;
    left: 18vw;
}

.underdivparatwo {
    position: absolute;
    font-weight: bold;
    left: 18vw;
    top: 6vh;
    height: 15vh;
    width: 20vw;
    /* border: 2px solid black; */

}

.advissmentholly {
    border: 2px solid black;
    height: 105vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 5vw;

}

/* ************************************Bollywood********************************************************** */


.bollyheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}
.underdivimagebolly{
    height: 35vh;
    width: 25vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;


}
.underdivheadingbolly{
    position: absolute;
    left: 26vw;

}
.underdivparabolly {
    position: absolute;
    left: 26vw;
    top: 6vh;
    /* border: 2px solid black; */

    height: 20vh;
    width: 25vw;

}

.underdivheadingtwobolly{
    position: absolute;
    left: 18vw;

}
.underdivparatwobolly{
    position: absolute;
    font-weight: bold;
    left: 18vw;
    top: 6vh;
    height: 15vh;
    width: 20vw;

}
.underdivimagetwobolly{
    height: 25vh;
    width: 17vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;

}

.bollytop {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.underdivtwobolly{
    position: relative;
    height: 32vh;
    width: 38vw;
    border-bottom: 5px solid beige;

}

.bollydata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 55vh;
    width: 30vw;
    text-align: center;
    position: relative;

}
.bollydata:hover{
  
    box-shadow: 2px 2px 20px  black;
    }

.headingbolly {
    text-align: center;

}

.imagebollytop {
    height: 30vh;
    width: 28vw;
    border-radius: 15px;
    position: absolute;
    left: 2vh;
    top: 10vh;

}

.bollypara {
    position: absolute;
    top: 38vh;
    left: 4vh;

}

.bollyone {
    display: flex;
    justify-content: center;
    gap: 60px;

}

.bollyunderdiv {
    height: 40vh;
    width: 50vw;
    border-bottom: 5px solid bisque;
    position: relative;

}
.advissmentbolly{
    
        border: 2px solid black;
        height: 105vh;
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 6vh;
        left: 5vw;
    

}



/* ***************************************fitness******************************************************* */

.fitheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}
.underdivimagefit{
    height: 35vh;
    width: 25vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;
    


}
.underdivheadingfit{
    position: absolute;
    left: 26vw;
}

.underdivparafit {
    position: absolute;
    left: 26vw;
    top: 6vh;
    /* border: 2px solid black; */

    height: 20vh;
    width: 25vw;

}

.fittop {
    height: 60vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.fitdata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 55vh;
    width: 30vw;
    text-align: center;
    position: relative;

}
.fitdata:hover{
  
    box-shadow: 2px 2px 20px  black;
    }

.headingfit {
    text-align: center;
}

.imagefittop {
    height: 30vh;
    width: 28vw;
    border-radius: 15px;
    position: absolute;
    left: 2vh;
    top: 10vh;

}

.fitpara {
    position: absolute;
    top: 38vh;
    left: 4vh;

}

.fitone {
    display: flex;
    justify-content: center;
    gap: 60px;

}

.fitunderdiv {
    height: 40vh;
    width: 50vw;
    border-bottom: 5px solid bisque;
    position: relative;
}

.underdivtwofit {
    /* border: 2px solid black; */
    position: relative;
    height: 32vh;
    width: 38vw;
    border-bottom: 5px solid beige;

}

.underdivimagetwofit {
    height: 25vh;
    width: 17vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.underdivheadingtwofit {
    position: absolute;
    left: 18vw;
}

.underdivparatwofit {
    position: absolute;
    font-weight: bold;
    left: 18vw;
    top: 6vh;
    height: 15vh;
    width: 20vw;
    /* border: 2px solid black; */

}
.advissmentfit {
    border: 2px solid black;
    height: 110vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 5vw;

}

    
    .footerfit{ 
        background-color: rgba(0, 0, 0, 0.742);
        height: 25vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        /* align-items: start; */
        gap: 10px;
        position: relative;
    }




/* ******************************************food******************************************************* */


.foodheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}

.foodtop {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.fooddata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 55vh;
    width: 30vw;
    text-align: center;
    position: relative;

}
.fooddata:hover{
  
    box-shadow: 2px 2px 20px  black;
    }

.headingfood {
    text-align: center;
}

.imagefoodtop {
    height: 30vh;
    width: 28vw;
    border-radius: 15px;
    position: absolute;
    left: 2vh;
    top: 10vh;

}

.foodpara {
    position: absolute;
    top: 38vh;
    left: 4vh;

}

.foodone {
    display: flex;
    justify-content: center;
    gap: 60px;

}

.foodunderdiv {
    height: 40vh;
    width: 50vw;
    border-bottom: 5px solid bisque;
    position: relative;
}
.underdivimagefood {
    height: 35vh;
    width: 25vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;

}

.underdivheadingfood {
    position: absolute;
    left: 26vw;
}

.underdivparafood {
    position: absolute;
    left: 26vw;
    top: 6vh;
    /* border: 2px solid black; */

    height: 20vh;
    width: 25vw;

}
.underdivtwofood {
    /* border: 2px solid black; */
    position: relative;
    height: 32vh;
    width: 38vw;
    border-bottom: 5px solid beige;

}

.underdivimagetwofood {
    height: 25vh;
    width: 17vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.underdivheadingtwofood {
    position: absolute;
    left: 18vw;
}

.underdivparatwofood {
    position: absolute;
    font-weight: bold;
    left: 18vw;
    top: 6vh;
    height: 15vh;
    width: 20vw;
    /* border: 2px solid black; */

}
.footerfood{ 
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    gap: 10px; 
    position: relative;
    top: 2vh;
}
.advissmentfood {
    border: 2px solid black;
    height: 105vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    /* left: 35vw; */

}


/* ******************************************technology******************************************* */

.techheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}

.techtop {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.techdata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 55vh;
    width: 30vw;
    text-align: center;
    position: relative;

}
.techdata:hover{
  
box-shadow: 2px 2px 20px  black;
}

.headingtech {
    text-align: center;
}

.imagetechtop {
    height: 30vh;
    width: 28vw;
    border-radius: 15px;
    position: absolute;
    left: 2vh;
    top: 10vh;

}

.techpara {
    position: absolute;
    top: 40vh;
    left: 4vh;

}

.techone {
    display: flex;
    justify-content: center;
    gap: 60px;

}

.techunderdiv {
    height: 40vh;
    width: 50vw;
    border-bottom: 5px solid bisque;
    position: relative;
}
.underdivimagetech {
    height: 35vh;
    width: 25vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;

}

.underdivheadingtech {
    position: absolute;
    left: 26vw;
}

.underdivparatech {
    position: absolute;
    left: 26vw;
    top: 6vh;
    /* border: 2px solid black; */

    height: 20vh;
    width: 25vw;

}
.underdivtwotech {
    /* border: 2px solid black; */
    position: relative;
    height: 32vh;
    width: 38vw;
    border-bottom: 5px solid beige;

}

.underdivimagetwotech {
    height: 25vh;
    width: 17vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.underdivheadingtwotech {
    position: absolute;
    left: 18vw;
}

.underdivparatwotech {
    position: absolute;
    font-weight: bold;
    left: 18vw;
    top: 6vh;
    height: 15vh;
    width: 20vw;
    /* border: 2px solid black; */

}
.advissmenttech {
    border: 2px solid black;
    height: 105vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 5vw;

}
.footertech {
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    gap: 10px; 
    position: relative;
    top: 2vh;
}


 .footer {
    /* background-image: linear-gradient(rgb(173, 247, 211),rgb(193, 229, 239));  */
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    gap: 10px; 
    position: relative;
    
 } 
.footertwo{
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    gap: 10px;
    position: relative;
   

}
.footerthree{
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    /* width: 100vw; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    gap: 10px;
    position: relative;
    border: 2px solid black;

   

}

.logo {
    height: 8vh;
    /* width: vw; */

}
.logotwo{
    height: 8vh;
    position: absolute;
    right: 150vw;

}

.logoone {
    height: 4vh;

}

.location {
    position: absolute;
    left: 43vw;
    top: 10vh;
}

.loc {
    font-weight: bold;
    position: absolute;
    top: 10vh;
    color: whitesmoke;

}

.phone {
    position: absolute;
    left: 43vw;
    top: 15vh;

}

.pho {
    font-weight: bold;
    position: absolute;
    top: 15vh;
    left: 94vh;
    color: whitesmoke;

}

.mail {
    position: absolute;
    left: 43vw;
    top: 20vh;
}

.email {
    font-weight: bold;
    position: absolute;
    color: whitesmoke;
    top: 20vh;
    left: 94vh;

}
.navlinktwo{
    color: black;
}





/* ************************************details************************************************* */
.detailsthree{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;

}
.detailsparaone{
    width: 30vw;
}

.detailsimage{
    height: 40vh;
    width: 30vw;
}
.btngoback{
    height: 10vh;
    width: 25vw;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

/* **********************************media************************************ */






@media only screen and (min-width:300px) and (max-width:500px) {



.top {
    height: 280vh;
    width: 210vw;
    top: 40px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    position: relative;
    left: 3vw;
    /* border: 2px solid black; */
}



    .route {
    color: black;
    font-size: 2em;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: rotate(180deg);
    

    position: relative;
    left: 45vw
}

;

.headinggs {
    border: 10px solid rgb(214, 45, 45);
    height: 20px;
    font-size: 2em;
    background-color: aqua;


}

.heading {
    font-size: 2em;
    margin: auto;
}

.box {
    width: 80vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: auto;
    margin-top: 40px;
    background-image: linear-gradient(white, rgba(0, 0, 0, 0.436));

}

.navlink {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.imageone {
    height: 40vh;
    width: 120vw;
    /* display: inline-block; */
    /* border: 2px solid black; */
    position: absolute;
    left: 0px;
    top:10px;
   

}

.datatwo {
    /* border: 2px solid red; */
    border-bottom: 5px solid wheat;
    width: 190vw;
    height: 45vh;
    position: relative;
    left: 12vw;
}




.imagetopone {
    position: absolute;
    height: 70vh;
    width: 180vw;
    left:13vw;

    top: 680px;
    border-radius: 20px;

}

.imagetoptwo {
    position: absolute;
    height: 67vh;
    width: 180vw;
    left:50px;
    top: 50px;
    border-radius: 20px;


}

.imagetopthree {
    position: absolute;
    height: 80vh;
    width: 180vw;
    left:50px;
    top: 180vh;
    border-radius: 20px;

}

.secondtop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    /* margin: auto; */
    flex-direction: column;
    /* margin-left:50px;   */
    gap: 20px;
    width: 210vw;

    /* border: 2px solid black; */
}

.underdivfirst {
    /* border: 5px solid black; */
    width: 200vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 85vh;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
}
.underdivfirst:hover{
    /* background-color: aqua; */
     box-shadow: 2px 2px 20px  black; 
  
}
.parahome{
    width: 165vw;
    /* height: 10vh; */
    font-size: 1.3em;
    position: relative;
    left: 2vw;
    /* border: 2px solid black; */
}
.homeimage{
   
    height: 50vh;
   width:165vw;
   border-radius: 20px;
}



.thirdtop {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* margin: 50px; */
   width: 200vw;
   margin-left: 15vw;
   /* border: 2px solid black; */
   
}

.latest {
    position: relative;
    left: 180px;
    top: 1vh;
    width: 400px;
    font-size: 5em;
    /* border: 2px solid black; */
}

.paraone {
    /* border: 2px solid black; */
    display: inline-block;
    width: 55vw;
    height: 50vh;
    position: relative;
    left: 485px;
    
    top: 14vh;
    overflow: hidden;
}

.headingone {
    display: inline-block;
    /* border: 2px solid black; */
    font-size: 1.5em;
    position: absolute;
    left: 480px;
    font-weight: bold;
    top: 5vh;
}

.topstories {
    width:220vw;
    /* border: 2px solid black; */
    position: relative;
    left: 10px;
    /* border-bottom: 3px solid black; */
}

.advisment {
    border: 2px solid black;
    height: 95vh;
    width:120vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    left: 30vw;
}

.data {
     /* border: 2px solid black; */
    position: relative;
    left:-2vw;
    height: 45vh;
    width: 650px;  
    border-bottom: 5px solid rgb(244, 119, 16);
}
.post{
    font-size: 4em;
    position: relative;
    left: 50vw;
    width: 90vw;
    /* border: 2px solid black; */
    
}
.tops{
    /* border: 2px solid black; */
    position: relative;
    left:55vw;
    top: 0px;
    width:90vw;
    font-size: 4em;
   
}

.imagetwo {
    position: absolute;
    left: 0;
    top: 4vh;
    height: 35vh;
    width: 85vw;
}

.headingtwo {
    position: absolute;
    left: 90vw;
    top: 6vh;
    font-size: 1.5em;
    font-weight: bold;
}

.toppost {
  
    position: relative;
    /* left: 180px; */
    top: 10px;
    width:180vw;
    /* border: 2px solid black; */
   height:320vh;

    /* font-size: em; */
    
}

.paratwo {
    position: absolute;
    top: 12vh;
    left:90vw;
    font-weight: bold;

}

/* .footer { */
    /* background-image: linear-gradient(rgb(173, 247, 211),rgb(193, 229, 239)); */
    /* background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    width: 175vw;
  
    border-radius: 5px;
    display: flex;
    justify-content: center; */
    /* align-items: start; */
    /* gap: 10px;
    position: relative;
    left: 15vw;
} */

.logo {
    height: 8vh;
    /* width: vw; */

}

.logoone {
    height: 4vh;

}

.location {
    position: absolute;
    left: 73vw;
    top: 10vh;
}

.loc {
    font-weight: bold;
    position: absolute;
    top: 10vh;
 left: 86vw;
    color: whitesmoke;

}

.phone {
    position: absolute;
    left: 73vw;
    top: 15vh;

}

.pho {
    font-weight: bold;
    position: absolute;
    top: 15vh;
    left: 49vh;
    color: whitesmoke;

}

.mail {
    position: absolute;
    left: 73vw;
    top: 20vh;
}

.email {
    font-weight: bold;
    position: absolute;
    color: whitesmoke;
    top: 20vh;
    left: 49vh;

}
.navlinktwo{
    color: black;
}




/* ****************************************************Hollywood*************************************** */



.hollyheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 30vw;

    text-decoration: underline;
}


.hollytop {
    height: 220vh;
    width: 175vw;
   margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    /* border: 2px solid black; */

}

.imagehollytop {
    height: 45vh;
    width: 155vw;
    border-radius: 15px;
    position: absolute;
    left: 4vh;
    top: 10vh;



}

.headingholly {
    position: absolute;
    left: 60vw;
}

.hollydata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 125vh;
    width: 170vw;
    text-align: center;
    position: relative;

}

.hollypara {
    position: absolute;
    top: 53vh;
    left: 4vh;
    width:150vw ;
    /* border: 2px solid black; */
    font-weight: bold;
}

.hollyone {
    width: 185vw;
    /* height: 820vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-left: 2vw; */
    gap: 60px;
    /* margin-left: 5vw; */
    /* border: 2px solid black; */
}

.hollyunderdiv {
    height: 50vh;
    width: 180vw;
    border-bottom: 5px solid bisque;
    position: relative;
    /* border: 2px solid black; */

}

.underdivimage {
    height: 43vh;
    width: 100vw;
    position: absolute;
    top: 3vh;
    border-radius: 20px;

    border-radius: 5px;

}

.underdivheading {
    position: absolute;
    left: 105vw;
    
    width: 65vw;
    /* border: 2px solid black; */
}

.underdivpara {
    position: absolute;
    left: 105vw;
    top: 12vh;
    font-weight: bold;
    /* border: 2px solid black; */
    overflow: hidden;

    height: 26vh;
    width: 77vw;
    /* border: 2px solid black; */

}

.underdivtwo {
    /* border: 2px solid black; */
    margin-left: 5vw;
   
    height: 40vh;
    width: 180vw;
   
    border-bottom: 5px solid beige;

}
.toppp{
    position: relative;
    font-size: 3em;
    /* border: 2px solid black; */
    width: 100vw;
    left:60vw;
}

.underdivimagetwo {
    height: 35vh;
    width:90vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.underdivheadingtwo {
    position: absolute;
    left: 100vw;
}

.underdivparatwo {
    position: absolute;
    font-weight: bold;
    left: 95vw;
    top: 8vh;
    height: 20vh;
    width: 80vw;
    /* border: 2px solid black; */

}

.advissment {
    border: 2px solid black;
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    left: 15vw;

}
.topone{
    /* height:260vh; */
    width: 180vw;
    position: relative;
    /* left: 5vw; */
    /* border: 2px solid black; */
}
.topss{
    position: relative;
    font-size: 3em;
    /* border: 2px solid black; */
    width: 80vw;
    left: 60vw;

}
.footerthree{
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    width: 187vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    position: relative;
    top: 10vh;
   

}
.advissmentholly {
    border: 2px solid black;
    height: 105vh;
    width: 120vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 35vw;

}


/* *****************************************Bollywood****************************************** */

.bollyheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}
.underdivimagebolly{
    height: 45vh;
    width: 95vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;


}
.underdivheadingbolly{
    position: absolute;
    left: 100vw;

}
.underdivparabolly {
    position: absolute;
    left: 100vw;
    top: 8vh;
    /* border: 2px solid black; */
    font-weight: bold;

    height: 30vh;
    width: 85vw;

}

.advissmentbolly{
    
    /* border: 2px solid black; */
    height: 100vh;
    width: 150vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 22vw;


}
.bollytop {
    height: 210vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 110vh;
    margin-top: 20px;
    margin-left: 5vw;
    /* border:  2px solid black; */
}
.bollybolly{
    position: relative;
    top: 280vh;
}

.bollydata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 135vh;
    width: 180vw;
    text-align: center;
    position: relative;

}
.underdivtwobolly{
    position: relative;
    /* left: 15vw; */
    height: 40vh;
    width: 165vw;
    border-bottom: 5px solid beige;
    /* border:2px solid black; */

}
.underdivimagetwobolly{
    height: 35vh;
    width: 85vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;

}
.underdivheadingtwobolly{
    position: absolute;
    left: 100vw;
    /* border: 2px solid black; */
    width: 80vw;

}
.underdivparatwobolly{
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
  
    left: 100vw;
    top: 8vh;
    height: 15vh;
    width: 80vw;

}

.headingbolly {
    text-align: center;

}

.imagebollytop {
    height: 40vh;
    width: 130vw;
    border-radius: 15px;
    position: absolute;
    left: 15vh;
    top: 10vh;
    

}

.bollypara {
    position: absolute;
    top: 50vh;
    left:1vh;
    font-weight: bold;
}


.bollyone {
    width: 195vw;
    height: 870vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 5vw;
    /* border: 2px solid black; */

}
.advissment{
    /* border: 2px solid black; */
    height: 95vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    left: 10vw;

}
.stories{
    position: relative;
    top: 295vh;
}
.bollytopstories{
    width: 100vw;
    font-size: 4em;
    /* border: 2px solid black; */
    position: relative;
    left: 65vw;
   

}
.bollytoppost{
    width: 100vw;
    font-size: 4em;
    /* border: 2px solid black; */
    position: relative;
    left: 65vw;


}
.bollyunderdiv {
    height: 52vh;
    width: 195vw;
    border-bottom: 5px solid bisque;
    position: relative;
   
    /* left: 5vw; */
    /* border: 2px solid black; */

}
.advissment{
    position: relative;
    right: 14vw;
}



/* ******************************************food******************************************************* */


.foodheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}

.foodtop {
    height: 250vh;
    width: 210vw;
    display: flex;
    margin-left: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.fooddata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 85vh;
    width: 185vw;
    text-align: center;
    position: relative;

}

.headingfood {
    text-align: center;
}

.imagefoodtop {
    height: 50vh;
    width: 175vw;
    border-radius: 15px;
    position: absolute;
    /* left: 6vh; */
    top: 10vh;

}

.foodpara {
    position: absolute;
    top: 60vh;
    /* left: 4vh; */
    font-weight: bold;
    /* border: 2px solid black; */

}

.foodone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

}

.foodunderdiv {
    height: 50vh;
    width: 220vw;
    border-bottom: 5px solid bisque;
    position: relative;
    /* border: 2px solid black; */
    left: 6vw;
}
.underdivimagefood {
    height: 45vh;
    width: 105vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;

}

.underdivheadingfood {
    position: absolute;
    left: 110vw;
}

.underdivparafood {
    position: absolute;
    left: 110vw;
    top: 10vh;
    /* border: 2px solid black; */
    font-weight: bold;

    height: 20vh;
    width: 100vw;

}

.foodtopstories{
    text-align: center;
    font-size: 4em;
    width: 100vw;
    position: relative;
    left: 55vw;
    /* border: 2px solid black; */
}
.foodtoppost{
    text-align: center;
    font-size: 4em;
    width: 100vw;
    position: relative;
    left: 65vw;

}
.underdivtwofood {
    /* border: 2px solid black; */
    position: relative;
    height: 52vh;
    width: 220vw;
    border-bottom: 5px solid beige;

}

.underdivimagetwofood {
    height: 45vh;
    width: 95vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 6vw;
    /* border: 2px solid red; */
}

.underdivheadingtwofood {
    position: absolute;
    left: 110vw;
}

.underdivparatwofood {
    position: absolute;
    font-weight: bold;
    left: 108vw;
    font-size: 1.2em;
    top: 10vh;
    height: 15vh;
    width: 105vw;
    /* border: 2px solid black; */

}

 .footerfood{ 
        background-color: rgba(0, 0, 0, 0.742);
        height: 25vh;
        width: 226vw;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        /* align-items: start; */
        gap: 10px; 
        position: relative;
        top: 10vh;
    }

.advissmentfood {
    border: 2px solid black;
    height: 105vh;
    width: 135vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 35vw;

}











/* ******************************fitness************************************************************ */
.fitheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}

.fittop {
    height: 240vh;
    width: 200vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* border: 2px solid black; */
    position: relative;
}

.fitdata {
    /* border: 5px solid black; */
    border-radius: 20px;
    height: 90vh;
    width: 180vw;
    text-align: center;
   
}

.headingfit {
    text-align: center;
   
}

.imagefittop {
    height: 50vh;
    width: 140vw;
    margin-left: 20vw;
    border-radius: 15px;
   

}

.fitpara {
  position: relative;
  top: 48vh;
    /* /* left: 4vh; */
    /* border: 10px solid black; */
    left: 0vw;
    font-weight: bold;

}

.fitone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    gap: 60px;
    width:200vw;
    height: 1830vh;
  /* border: 2px solid black; */
}

.fitunderdiv {
    height: 60vh;
    width:195vw;
    border-bottom: 5px solid bisque;
    position: relative;
    /* left: 6vw; */
    /* border: 2px solid black; */
}
.fitdtopstories{
    text-align: center;
    font-size: 4em;
    width: 100vw;
    position: relative;
    left: 55vw;

}
.fitdtoppost{
    text-align: center;
    font-size: 4em;
    width: 100vw;
    position: relative;
    left: 55vw;

}
.underdivimagefit{
    height: 50vh;
    width: 95vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;
    


}
.underdivheadingfit{
    position: absolute;
    left: 100vw;
    width: 80vw;
    
}

.underdivparafit {
    position: absolute;
    left: 100vw;
    top: 15vh;
    font-weight: bold;
    /* border: 2px solid black; */

    height: 20vh;
    width: 100vw;

}
.underdivtwofit {
    /* border: 2px solid black; */
    position: relative;
    height: 50vh;
    width: 210vw;
    border-bottom: 5px solid beige;

}

.underdivimagetwofit {
    height: 45vh;
    width: 90vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.underdivheadingtwofit {
    position: absolute;
    left: 100vw;
}

.underdivparatwofit {
    position: absolute;
    font-weight: bold;
    left: 100vw;
    top: 15vh;
    height: 15vh;
    width: 110vw;
    /* border: 2px solid black; */

}
.footerfit{ 
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    width: 215vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    gap: 10px;
    position: relative;
    top: 15vh;
}
.advissmentfit {
    border: 2px solid black;
    height: 105vh;
    width: 135vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 35vw;

}






/* *********************************************tecnology********************************** */
.techheading {
    font-size: 3em;
    width: 10vw;
    position: relative;
    left: 2vw;
    text-decoration: underline;

}

.techtop {
    height: 250vh;
    width: 210vw;
    display: flex;
    margin-left: 10vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.techdata {
   /* border: 2px solid black; */
    border-radius: 20px;
    height: 85vh;
    width: 190vw;
    text-align: center;
    position: relative;

}

.headingtech {
    text-align: center;
}

.imagetechtop {
    height: 50vh;
    width: 180vw;
    border-radius: 15px;
    position: absolute;
    /* left: 11vh; */
    top: 10vh;

}

.techpara {
    position: absolute;
    width: 170vw;
    font-size: 1.4em;
    top: 60vh;
    font-weight: bold;
    left: 4vh;
    /* border: 2px solid black; */

}

.techone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
    gap: 60px;
    /* height: 1380vh; */
    width: 220vw;
    /* border: 2px solid black; */

}

.techunderdiv {
    height: 50vh;
    width: 220vw;
    border-bottom: 5px solid bisque;
    position: relative;
    /* left: 10vw; */
    /* border: 2px solid black; */
}

.underdivimagetech {
    height: 45vh;
    width: 105vw;
    position: absolute;
    top: 2vh;

    border-radius: 5px;

}

.underdivheadingtech {
    position: absolute;
    left: 110vw;
}

.underdivparatech {
    position: absolute;
    left: 110vw;
    top: 10vh;
    font-weight: bold;
    /* border: 2px solid black; */

    height: 20vh;
    width: 109vw;

}
.underdivtwotech {
    /* border: 2px solid black; */
    position: relative;
    height: 45vh;
    width: 218vw;
    border-bottom: 5px solid beige;

}

.underdivimagetwotech {
    height: 40vh;
    width: 90vw;
    border-radius: 10px;
    position: absolute;
    top: 2vh;
    left: 0vw;
    /* border: 2px solid red; */
}

.underdivheadingtwotech {
    position: absolute;
    left: 100vw;
}

.underdivparatwotech {
    position: absolute;
    font-weight: bold;
    left: 100vw;
    top: 10vh;
    height: 20vh;
    width: 110vw;
    /* border: 2px solid black; */

}


.techtoppost{
    /* border: 2px solid black; */
    position: relative;
    height: 810vh;

    /* left: 30vw; */
}
.underdivtwo{
    /* border: 2px solid black; */
   position: relative;
   left: -5vw;
   
   /* right: 50vw; */
}
/* .underdivheadingtwo{
    position: relative;
    top: 5vh;
} */
.techtopstories{
    width: 80vw;
    font-size: 3em;
    position: relative;
    left: 80vw;
    /* border: 2px solid black; */
}
.techtoppostone{
    width: 80vw;
    font-size: 3em;
 
    position: relative;
    left: 85vw;

}

.number{
    font-size: 3em;
    color: grey;
    position: relative;
    top:5vh;
    left: 35vh;
}
.advissmenttech {
    border: 2px solid black;
    height: 90vh;
    width:115vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6vh;
    left: 55vw;

}
 .footertech {
        background-color: rgba(0, 0, 0, 0.742);
        height: 25vh;
        width: 232vw;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        /* align-items: start; */
        gap: 10px; 
        position: relative;
        top: 2vh;
    }

.footer {
    /* background-image: linear-gradient(rgb(173, 247, 211),rgb(193, 229, 239)); */
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    width: 210vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    
    /* align-items: start; */
    gap: 10px;
    position: relative;
    top: 90vh;
   left: 5vh;
}

.footertwo{
    background-color: rgba(0, 0, 0, 0.742);
    height: 25vh;
    width: 210vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    
    gap: 10px;
    position: relative;
    top: 590vh;
   left: 0vh;

}

.route {
    color: black;
    font-size: 2em;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: rotate(180deg);
    /* border: 2px solid black; */
    

    position: relative;
    left: 45vw
}
.box{
    position: relative;
    left: 40vw;
}
.navbar{
    position: relative;
    left: 40vw;

}












}