.box{
   
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 2px solid black; */
    margin-top: 20px;
}
.detailinnerdiv{
    /* border: 10px solid black; */
}
.detailsimage{
    height: 40vh;
   
}
.dtl{
    /* border: 2px solid black; */
    border-radius: 20px;
   
    background-image: linear-gradient(rgb(91, 224, 162), rgb(159, 158, 244));
}
.dtl:hover{
    box-shadow: 2px 2px 20px black;
}
.dtlimage{
    height: 40vh;
    width: 32vw;
    border-radius: 20px;
}
.detailpara{
    width: 30vw;
    /* border: 2px solid black; */
    font-weight: bold;
    position: relative;
    left: 1vw;
    text-align: center;
}
.detailheading{
    /* border: 2px solid black; */
    text-align: center;


}

.detailsthree{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    margin-top: 5vh;
    

}


.detailsimage{
    border-radius: 20px;
}
.btngoback{
    width: 30vw;
   height: 10vh;
}
.btngoback:hover{
    background-color: blue;
}
.innerman{
    /* border: 2px solid black; */
    width: 20vw;
    
    height: 10vh;
}
.men{
    height: 8vh;
    width: 4vw;
    border-radius: 50%;
    background-color: brown;
    /* border: 2px solid black; */
    float: left;
}
.parent{
    /* border: 2px solid black; */
    height: 15vh;
    width: 80vw;
    margin-top: 2vh;
    position: relative;
    left: 15vw;
    display: flex;
    justify-content:center;
    align-items: center;

}
.balam{
    font-weight: bold;
    position: relative;
    left:1vw;
    
}
.read{
    position: relative;
    left:1vw;
    top: -2vh;
}
.time{
    position: relative;
    left:1vw;
    top: -2vh;

}
.logodtl{
    height: 7vh;
    width: 5vw;
}
.outerlogo{
    /* border: 2px solid black; */
    width: 30vw;
    height: 10vh;
    float: right;

}
.footermain {
    background-color: rgba(0, 0, 0, 0.742);
    height: 35vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    top: 2vh;
    /* border: 2px solid black; */
   
    
 } 

 .logosdtl {
    position: relative;
    top:0vh;
    left: 15vw;
    /* border: 2px solid black; */
    height: 8vh;
}

.gotonavdtl {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25vw;
    width: 40vh;
    /* height: 10vh; */
    top: 2vh;

    /* border: 2px solid black; */

}

.logoonedtl {
    height: 5vh;
    position: relative;
    left: -0.4vw;
    top: 1vh;

}

.logo {
    height: 8vh;
    /* width: vw; */

}

.location {
    position: absolute;
    left: 5vw;
    top: 4vh;
}

.locdtl {
    font-weight: bold;
    position: absolute;
    top: 5vh;
    left: 10vw;
    color: whitesmoke;

}

.logoonephonedtl {
    height: 4vh;
    position: relative;
    right: 41vw;
    top: -2vh;
    /* border: 5px solid black; */
    color: aliceblue;
    background-color: aqua;


}

.phodtl {
    font-weight: bold;
    position: absolute;
    top: 13vh;
    left: 10vw;

    color: whitesmoke;

}

.logoonemaildtl {
    height: 5vh;
    position: relative;
    right: 44vw;
    top: 5vh;
    color: red;
}

.emaildtl {
    font-weight: bold;
    position: absolute;
    color: whitesmoke;
    top: 20vh;
    left: 10vw
}





















@media screen and (min-width:300px) and (max-width:500px){

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* border: 2px solid black; */
        margin-top: 20px;
        width: 250vw;
       position: relative;
       left: 10vw;
        /* margin: auto; */
    }
    .detailinnerdiv{
        /* border: 10px solid black; */
    }
    .detailsimage{
        height: 65vh;
        width: 150vw;
       
    }
    .dtl{
        /* border: 2px solid black; */
        border-radius: 20px;
        width: 150vw;
       
        background-image: linear-gradient(rgb(91, 224, 162), rgb(159, 158, 244));
    }
    .dtl:hover{
        box-shadow: 2px 2px 20px black;
    }
    .dtlimage{
        height: 50vh;
        width: 150vw;
        border-radius: 20px;
    }
    .detailpara{
        width: 140vw;
        /* border: 2px solid black; */
        font-weight: bold;
        position: relative;
        left: 4vw;
        text-align: center;
        font-size: 1.5em;
    }
    .detailheading{
        /* border: 2px solid black; */
        text-align: center;
    
    
    }
    .dtltwo{
        width: 220vw;
        /* border: 2px solid black; */
    }
    
    .detailsthree{
        display: flex;
        flex-direction: column;

        /* border: 2px solid black; */
        margin-top: 5vh;
        width: 250vw;
        position: relative;
        left: 10vw;
        
    
    }
    
    
    .detailsimage{
        border-radius: 20px;
        width: 220vw;
    }
    .btngoback{
        width: 20vw;
    }
    .btngoback:hover{
        background-color: blue;
    }
    .innerman{
        /* border: 2px solid black; */
        width: 20vw;
        
        height: 10vh;
    }

    .innerman{
        /* border: 2px solid black; */
        width: 80vw;
        
        height: 15vh;
    }
    .men{
        height: 10vh;
        width: 15vw;
        border-radius: 50%;
        background-color: brown;
        /* border: 2px solid black; */
        float: left;
    }
    .parent{
        /* border: 2px solid black; */
        height: 20vh;
        margin-top: 10vh;
        display: flex;
        width: 275vw;
        justify-content:center;
        align-items: center;
    
    }
    .balam{
        font-weight: bold;
        position: relative;
        left:1vw;
        
    }
    .read{
        position: relative;
        left:1vw;
        top: -2vh;
    }
    .time{
        position: relative;
        left:1vw;
        top: -2vh;
    
    }
    .logodtl{
        height: 10vh;
        width: 15vw;
    }
    .outerlogo{
        /* border: 2px solid black; */
        width: 80vw;
        height: 15vh;
        float: right;
    
    }
    
    .detailsparaone{
        /* border: 2px solid black; */
        width: 200vw;
        font-size: 2em;
        overflow: hidden;
        margin: auto;
    }
    .detaisheadingone{
        font-size: 2em;
    }
    
    .btngoback{
        position: relative;
        left: 80vw;
        top: 5vh;
        height: 15vh;
      
        width: 100vw;
    }
    .footermain {
        background-color: rgba(0, 0, 0, 0.742);
        height: 35vh;
        width: 290vw;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
    
        top: 8vh;
        border: 2px solid black;
       
        
     } 
    
     .logosdtl {
        position: relative;
        top:0vh;
        left: 45vw;
        /* border: 2px solid black; */
        height: 8vh;
    }
    
    .gotonavdtl {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 55vw;
        width: 40vh;
        /* height: 10vh; */
        top: -2vh;
    
        /* border: 2px solid black; */
    
    }
    
    .logoonedtl {
        height: 5vh;
        position: relative;
        left: -0.4vw;
        top: 1vh;
    
    }
    
    .logo {
        height: 8vh;
        /* width: vw; */
    
    }
    
    .location {
        position: absolute;
        left: 5vw;
        top: 4vh;
    }
    
    .locdtl {
        font-weight: bold;
        position: absolute;
        top: 5vh;
        left: 15vw;
        color: whitesmoke;
    
    }
    
    .logoonephonedtl {
        height: 4vh;
        position: relative;
        right: 127vw;
        top: 0vh;
        /* border: 5px solid black; */
        color: aliceblue;
        background-color: aqua;
    
    
    }
    
    .phodtl {
        font-weight: bold;
        position: absolute;
        top: 15vh;
        left: 15vw;
    
        color: whitesmoke;
    
    }
    
    .logoonemaildtl {
        height: 5vh;
        position: relative;
        right: 138vw;
        top: 8vh;
        color: red;
    }
    
    .emaildtl {
        font-weight: bold;
        position: absolute;
        color: whitesmoke;
        top: 24vh;
        left: 15vw
    }
    
    
    
    
    
    

   
     }



     @media screen and (min-width:500px) and (max-width:800px){

        .dtltwo{
            /* border: 2px solid black; */
            width: 240vw;
        }

        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            /* border: 2px solid black; */
            margin-top: 20px;
            width: 260vw;
            position: relative;
            left: 10vw;
        }
        .detailinnerdiv{
            /* border: 10px solid black; */
        }
        .detailsimage{
            height: 40vh;
           width: 250vw;
            position: relative;
            top: 5vh;
           
        }
        .dtl{
            /* border: 2px solid black; */
            border-radius: 20px;
            width: 150vw;
            /* height: 120vh; */
          
           
            background-image: linear-gradient(rgb(91, 224, 162), rgb(159, 158, 244));
        }
        .dtl:hover{
            box-shadow: 2px 2px 20px black;
        }
        .dtlimage{
            height: 70vh;
            width: 149vw;
            border-radius: 20px;
        }
        .detailpara{
            width: 140vw;
            /* border: 2px solid black; */
            font-weight: bold;
            position: relative;
            font-size: 2em;
            left: 5vw;
            /* text-align: center; */
        }
        .detailheading{
            /* border: 2px solid black; */
            text-align: center;
            font-size: 4em;
        
        
        }
        
        .detailsthree{
            display: flex;
            flex-direction:column;
            /* border: 2px solid black; */
            margin-top: 5vh;
            width: 260vw;
            position: relative;
            left: 10vw;
            
        
        }
        
        
        .detailsimage{
            border-radius: 20px;
            width: 200vw;
            height: 80vh;
        }
        .btngoback{
            width: 20vw;
        }
        .btngoback:hover{
            background-color: blue;
        }
        .innerman{
            /* border: 2px solid black; */
            width: 60vw;
            
            height: 10vh;
        }
        .men{
            height: 8vh;

            width: 12vw;
            border-radius: 50%;
            background-color: brown;
            /* border: 2px solid black; */
            float: left;
        }
        .parent{
            /* border: 2px solid black; */
            height: 25vh;
            margin-top: 2vh;
            position: relative;
            left: 10vw;
            display: flex;
            width: 260vw;
            justify-content:center;
            align-items: center;
        
        }
        .balam{
            font-weight: bold;
            position: relative;
            left:2vw;
            font-size: 1.5em;
          
            
        }
        .read{
            position: relative;
            left:1vw;
            top: -2vh;
        }
        .time{
            position: relative;
            left:2vw;
            top: -2vh;
            font-size: 1.2em;
        
        }
        .logodtl{
            height: 10vh;
            width: 12vw;
        }
        .outerlogo{
            /* border: 2px solid black; */
            width: 50vw;
            height: 10vh;
            float: right;
        
        }
        .detailsparaone{
            /* border: 2px solid black; */
            width: 200vw;
            font-size:3em;
            margin: auto;
            font-weight: bold;
        }
        .detaisheadingone{
            font-size: 5em;
        }
        
        .btngoback{
            position: relative;
            left: 60vw;
            top: 5vh;
          height: 15vh;
            width: 100vw;
        }
        

        .footermain {
            background-color: rgba(0, 0, 0, 0.742);
            height: 36.8vh;
            border-radius: 5px;
            display: flex;
            width: 280vw;

            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;
        
            top: 10vh;
            /* border: 2px solid black; */
           
            
         } 
        
         .logosdtl {
            position: relative;
          
            top:0vh;
            left: 35vw;
            /* border: 2px solid black; */
            height: 8vh;
        }
        
        .gotonavdtl {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 60vw;
            width: 40vh;
            font-size: 1.7em;
            /* height: 10vh; */
            top: 2vh;
        
            /* border: 2px solid black; */
        
        }
        
        .logoonedtl {
            height: 5vh;
            position: relative;
            left: -0.4vw;
            top: 1vh;
        
        }
        
        .logo {
            height: 8vh;
            /* width: vw; */
        
        }
        
        .location {
            position: absolute;
            left: 5vw;
            top: 4vh;
        }
        
        .locdtl {
            font-weight: bold;
            position: absolute;
            font-size: 2em;
            top: 5vh;
            left: 15vw;
            color: whitesmoke;
        
        }
        
        .logoonephonedtl {
            height: 4vh;
            position: relative;
            right: 126vw;
            top: -2vh;
            /* border: 5px solid black; */
            color: aliceblue;
            background-color: aqua;
        
        
        }
        
        .phodtl {
            font-size: 2em;
            font-weight: bold;
            position: absolute;
            top: 13vh;
            left: 15vw;
        
            color: whitesmoke;
        
        }
        
        .logoonemaildtl {
            height: 5vh;
            position: relative;
            right: 133vw;
            top: 5vh;
            color: red;
        }
        
        .emaildtl {
            font-weight: bold;
            position: absolute;
            color: whitesmoke;
            font-size: 2em;
            top: 20vh;
            left: 15vw
        }
        
        
        
        
        
        
        }